.module-calendar{
    position: absolute;
    width: 200px;
    border: 1px solid red;
}

/*calendar-header start*/
.module-calendar .calendar-header{
    position: relative;
}
.module-calendar .calendar-header .calendar-date{
    margin: 0;
    text-align: center;
}
.module-calendar .calendar-header .calendar-nav{
    position: absolute;
    width: 14px;
    height: 14px;
    background: url('img/calendar_arrows.png') no-repeat;
    cursor: pointer;
}
.module-calendar .calendar-header .calendar-prevyear{
    left: 5px;
    background-position: -1px -2px;
}
.module-calendar .calendar-header .calendar-prevmonth{
    left: 20px;
    background-position: -18px -2px;
}
.module-calendar .calendar-header .calendar-nextyear{
    top:0;
    right: 5px;
    background-position: -49px -2px;
}
.module-calendar .calendar-header .calendar-nextmonth{
    top:0;
    right: 20px;
    background-position: -34px -2px;
}
/*calendar-header end*/



/*tbody部分 start*/


.module-calendar .container{
    margin: 0 auto;
    border-right:1px solid #F00;
    border-bottom:1px solid #F00
}
.module-calendar .container td{
    padding: 0;
    text-align: center;
    border-top:1px solid #F00;
    border-left:1px solid #F00;
    vertical-align: middle;
}
.module-calendar .container .calendar-day{
    cursor: pointer;
}
.module-calendar .container .calendar-day:hover{
    background-color: #0021ff;
    color: #ffffff;
}
/*选中的样式*/
.module-calendar .container .calendar-selected{
    color:blue;
}
/*被点击的样式*/
.module-calendar .container .calendar-clicked{
    background-color: #0021ff;
    color: #ffffff;
}
/*tbody部分 end*/




.module-calendar .container .calendar-day a:hover{
    color:#ffffff;
}
.module-calendar .container .calendar-day a{
    text-decoration: none;
    color: #000000;
}
